/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
  background-color: steelblue;
  color: lightcyan;
  padding: 128px 16px;
  text-align: center;
  border: 3px outset red;
  background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20151117173447-prision-jail-man-inmate-under-arrest.jpeg);
  background-size: 900px;
  background-position: center;
  background-repeat: no-repeat;
}

body
h1{
  font-style: italic;
  
}